# Ignore logs and result files.
**/logs/
**/result/

# Ignore .snakemake directory
**/.snakemake

# Ignore all files in reference_genome and data directory
# but README.md, rules, and Snakefile
reference_genome/*
!reference_genome/README.md
!reference_genome/rules/*
!reference_genome/Snakefile

data/*
!data/README.md
!data/rules/*
!data/Snakefile
